<section class="authorization" id="welcome">
    <div class="authorization__close">
        <img src="img/close.png" alt="">
    </div>
    <div class="authorization__container">
        <div class="authorization__logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="authorization__header">
            <p class="authorization__title">Авторизация</p>
            <p class="authorization__clue">Введите, пожалуйста, свое ФИО и ник для дальнейшей авторизации</p>
        </div>
        <form class="authorization__form">
            <input type="text" name="name" class="authorization__input" id="name" placeholder="Введите свое имя">
            <p class="authorization__tooltip display-none">Поле не заполнено</p>
            <input type="text" name="nickName" class="authorization__input" id="nickName" placeholder="Введите свой ник">
            <p class="authorization__tooltip display-none">Поле не заполнено</p>
            <button class="authorization__btn btn" id="signIn">ВОЙТИ</button>
        </form>
    </div>
</section>
